@import "./variables.scss";

.alias {
    margin: 0px;
    display: flex;
    width: 20%;
    align-items: center;
    font-size: 7px;
    font-weight: bold;
}

.nav {
    height: inherit;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;

    a {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $foreground;
        padding: 0px 10px;
        z-index: 2;
        
    }
}

.bubble {
    position: absolute;
    z-index: 1;
    background-color: $primary;
    border-radius: 0.5em;
    transform: scale(0.9, 0.8);
    transition: all 0.3s ease-out;
}

.circle {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0;
    width: 0;
    transition: all 0.6s ease-in;
    z-index:1;
}


@media only screen and (max-width: 665px) {
    .alias{
        justify-content: center;
        width: inherit;
        font-size: 0.7rem;
        padding-bottom: 20px;
        border-bottom: 1px solid $on_background;
    }
    .nav {
        display: grid;
        width: inherit;
        height: 60%;
        align-items: center;
        a {
            width: inherit;
            height: 50px;
        }
    }

    .bubble {
        display: none;
    }

    .hamburger {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 10px;
        left: 10px;
        display: grid;
        padding: 5px 5px;
        cursor: pointer;
        z-index: 2;

        div {
            height: 3px;
            background-color: $foreground;
        }

    }

    .show {
        height: 100vh;
        width: 100vw;
    }

}




