@import './variables.scss';

.timeline_items{
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline_items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: $on_background;
	left: calc(50% - 1px);
}
.timeline_item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline_item:last-child{
	margin-bottom: 0;
}
.timeline_item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline_item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline_dot{
	height: 16px;
	width: 16px;
	background-color: $primary;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline_date{
	font-size: 18px;
	color: $primary;
	margin:6px 0 15px;
}
.timeline_content{
    background-color: $surface;
	padding: 15px;
	border-radius: 5px;
    border: 1px solid $border;
}
.timeline_content h3{
    font-size: 20px;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline_content p{
    margin: 0px;
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 1000px){
	.timeline_items::before{
		left: 12px;
	}
	.timeline_item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline_item:nth-child(odd),
	.timeline_item:nth-child(even){
		padding-left: 37px;
	}
	.timeline_dot{
		left:0;
	}
}
